<% if form.present? %>
    <div data-ecrypted_form_id="<%= encrypt(form["id"]) %>" class="card form_card_container">
        <div class="card-body">
            <h5 class="card-title"><%= form["title"] %></h5>
            <p><%= form["last_modified_date"] %></p>
            <button class="delete_form_trigger">Delete Form</button>
        </div>
        <div class="card-footer">
            <p><%= form["number_of_responses"] %>  <%= "response".pluralize(form["number_of_responses"] === 0 ? 1 : form["number_of_responses"] ) %></p>
        </div>
    </div>
<% end %>