<%= render :partial => 'forms/partials/global_partials/header_partial' %>
<%= render :partial => 'forms/partials/form_search_query_settings_partial' %>
<div class="content_area">
    <%= render :partial => 'forms/partials/global_partials/side_navigation_partial' %>

    <section class="content_section">
        <div class="forms_container">
            <% if @forms[:status] && @forms[:result].length > 0 %>
                <% @forms[:result].each do |form| %>
                    <%= render :partial => "/forms/partials/form_card", :locals => {:form => form} %>
                <% end %>
            <% end %>
        </div>
    </section>

    </div>

    <form action="/forms/get_forms" method="POST" data-is_processing="0" id="get_all_forms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    </form>

    <form action="/forms/create_form" method="POST" data-is_processing="0" id="create_form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    </form>

    <form action="/forms/delete_form" method="POST" data-is_processing="0" id="delete_form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="form_id" class="form_id">
    </form>
</div>