<%= render :partial => 'forms/partials/global_partials/header_partial' %>

<div class="content_area">
    <%= render :partial => 'forms/partials/global_partials/side_navigation_partial' %>
    <section class="content_section">
		<div class="forms_navigation">
			<p>Questions</p>
			<p>Responsehahaa</p>
			<p>Settings</p>
		</div>

		<div class="form_section">
			<div class="form_title_area">
				<input type="text" placeholder="Untitled Form" />
				<input type="description" placeholder="Description" />
			</div>
		</div>
		
		<%# Iterate the form sections %>
		<% @form[:result].each do |key, form| %>
			<div class="form_section" data-section_id="<%= key %>">
			<% @form[:result][key].each do |form_question| %>
				<%= render :partial => get_form_question_partial_name(form_question["question_type_id"]), :locals => {:form_question => form_question} %>
				<%= get_form_question_partial_name(form_question["question_type_id"]) %>
			<% end %>
				<button id="add_question_trigger">Add question</button>
			</div>
		<% end %>

		<div class="form_section" data-section_id="2">
			<div class="form_question_area" data-question_id="3">
				<div class="form_question_settings">
					<input type="text" name="question" placeholder="Unntitled question" class="form_question_title"/>

					<select class="form-select" class="form_question_type">
						<option>Multiple Choice</option>
						<option>Paragraph</option>
						<option selected>Checkbox</option>
						<option>Dropdown</option>
					</select>
				</div>
				<div class="option_list">
					<input type="text" name="options[]" placeholder="Option" class="options" />
					<input type="text" name="options[]" placeholder="Option" class="options" />
					<input type="text" name="options[]" placeholder="Option" class="options" />
				</div>
			</div>
		</div>

    </section>

	<form action="/forms/update_form" class="hidden" id="update_form" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<input type="hidden" name="update_type" />
		<input type="hidden" name="">
	</form>

	<form action="/forms/create_question" class="hidden" id="create_question_form" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<input type="hidden" name="question_type" />
		<input type="hidden" name="description" />
		<input type="hidden" name="question_title" />
		<input type="hidden" name="options[]" />
	</form>
</div>