<%= render :partial => 'forms/partials/global_partials/header_partial' %>

<div class="content_area">
    <%= render :partial => 'forms/partials/global_partials/side_navigation_partial' %>
    <section class="content_section">
		<div class="forms_navigation">
			<p>Questions</p>
			<p>Response</p>
			<p>Settings</p>
		</div>

		<div class="form_section">
			<div class="form_title_area">
				<input type="text" value="<%= @form[:result][:title] %>" placeholder="Untitled Form" />
				<input type="description" value="<%= @form[:result][:description] %>" placeholder="Description" />
			</div>
		</div>

		<%# Iterate the form sections %>
		<% @form[:result][:form_questions].each do |key, form| %>
			<div class="form_section" id="form_section_<%= key %>" data-section_id="<%= key %>">
			<% @form[:result][:form_questions][key].each do |form_question| %>
				<%= render :partial => get_form_question_partial_name(form_question["question_type_id"]), :locals => {:form_question => form_question} %>
			<% end %>
				<button class="add_question_trigger">Add question</button>
			</div>
		<% end %>
	<%# TODO: Hide for now
		<div class="form_section">
			<button id="add_section_trigger">Add section</button>
		</div>
	 %>

    </section>

	<form action="/forms/update_form" class="hidden" id="update_form" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<input type="hidden" name="update_type" />
		<input type="hidden" name="">
	</form>

	<form action="/forms/create_question" class="hidden" id="create_question_form" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<input type="hidden" name="form_id" value="<%= params["id"] %>">
		<input type="hidden" name="form_section_id" id="form_section_id">
	</form>
</div>